.quick-actions{
margin-top:40px;
}

.quick-actions h2{
margin-bottom:20px;
}

.action-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
}

.action-card{
background:white;
padding:25px;
border-radius:18px;
text-align:center;
box-shadow:0 10px 25px rgba(0,0,0,.08);
transition:.3s;
}

.action-card:hover{
transform:translateY(-8px);
}

.action-icon{
width:70px;
height:70px;
margin:auto;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
color:white;
font-size:28px;
margin-bottom:15px;
}

.action-card h4{
margin-bottom:15px;
}

.action-card button{
background:#6C63FF;
color:white;
border:none;
padding:10px 20px;
border-radius:10px;
cursor:pointer;
}

.action-card button:hover{
background:#5848d9;
}

@media(max-width:900px){
.action-grid{
grid-template-columns:repeat(2,1fr);
}
}

@media(max-width:600px){
.action-grid{
grid-template-columns:1fr;
}
}